@charset "utf-8";
body {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:relative;
    margin:0;
    max-width: 100%;
    border:6px solid #808080; /* viewers border */
    background-color: transparent;  /* background colour of the page */
    font-family: Arial;  
    line-height: 1.0;
    font-size: calc(2.5vw + 0.5vh + 1vmin);
    color :#666666;  /* colour of the text on the page */
    text-align: left;
    float: left;
}

img {     
    vertical-align: middle;
}

img.mutedeaf {  
    width: 5%;
    vertical-align: middle;
}

img.moremutedeaf {  
    width: 5.5%;
    vertical-align: middle;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#bodypat{   
    top:0;
    left:0;
    right:0;
    position:relative;
    z-index: 0;
    background-color: #e6e6e6; /* Body background */
    max-width: 100%;
    height: auto;
}

#container{  
}

.heading {
    max-width: 100%;
    background-color: #e6e6e6; /* heading background */
    color :#666666; /* colour of text in the heading */
    font-size: 125%;
    line-height: 110%;
    margin-left: 10px;
    margin-bottom: 4px;
    padding-top: 10px;
} 

#content1 {  
    padding: 30px;
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
    height: 25px;
    margin: auto;
    padding: 10px;
}

#content2 {   
    position: relative;
    background-color: #ffffff; /* Channel users background */ 
    min-width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

#nousers {   
    width: 90%;
    margin: 0px 20px 5px 20px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}

#channels1st {
    background-color: #dbdad9; /* first channel background */
    padding:1px 1px 1px 1px;
    vertical-align:middle
}

#channels {
    border-top: 5px solid #ffffff; /* channels top border background (for spacing) */
    background-color: #dbdad9; /* other channels background */
    padding:1px 1px 1px 1px;
    vertical-align:middle;
}

.location {
    position: absolute; 
    top: 14px; 
    right:15px; 
}

.small {
    line-height: 20%;
}

a.div-link {
    width: 50%;
    border: 2px solid;
    border-top: 2px solid;
    border-color: #808080; /* Join Server button border */
    background-color: #e6e6e6; /* Join Server button background */
    color: #808080; /* Join Server button text */
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    padding: 3px;
}

a.div-link:hover {
    background-color: #808080; /* Join Server hover background */
    color: #fff; /* Join Server hover text */
}

.discord-icon {
    width: 7.5%;
    vertical-align:middle
}

.desc {
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
}

.channel {
    font-style: italic;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    display:inline-block
}

.discord-avatar {
    border-radius:100%;
    width: 6%;
    border:solid 2px #fff!important;
    border-color:#3a3a3a!important;
    display:inline;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-right:5px!important;
    vertical-align:middle
}

.discord-status {
    border-radius:100%;
    width: 2.5%;
    border:solid 2px #fff!important;
    border-color:#282b30!important;
    display:inline;
    margin-top: 14px;
    margin-left: -17px;
    vertical-align:middle
}

.label-bot {
    margin-left: 5px;
    background-color: #7289DA;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    font-size: 60%;
    vertical-align:middle
}

.label-admin {
    margin-left: 5px;
    background-color: #049053;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    font-size: 60%;
}

.label-game {
    color: #e66f1f; /* playing game text colour */
    font-size: 60%;
}

.spacer{
    height: 10px;
    background-color: #ffffff; /* spacer background  */
}

div.users {
    min-height: 40px;
    border-top: 2px solid #e6e6e6; /* line above More Online */
    background-color: #ffffff; /* More Online background */
    padding-top: 10px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox']:checked ~ div {
    transform: scaleY(1);
}

label {
    border: 2px solid #808080; /* View button border */
    background-color: #e6e6e6; /* View button background */
    color: #808080; /* View button text */
    cursor: pointer;
    padding: 2px 5px;
    font-family: 'Arial';
    font-size: 80%;
    font-weight: bold;
}

label:hover {
    background-color: #808080; /* View button hover background */
    color: #ffffff; /* View button hover text */
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

div.hidden {
    display: none;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform-origin: center top 0;
    -moz-transform-origin: center top 0;
    -o-transform-origin: center top 0;
    -ms-transform-origin: center top 0;
}

#toggle:checked ~ div.hidden {
    display: block;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
}